<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Weather App</title>
  </head>
  <body>
    <div class="main_container">
      <div class="form_container">
        <form action="/" method="post">
          <h1><%=heading %></h1>
          <img class="city_image" src="<%=cityimageurl %>" alt="" />
          <% if(inputcode){ %>
          <label for="cityName">
            <input style="margin-top: 10px;
            margin-bottom: 10px;" name="cityName" type="text" placeholder="Enter City Name" />
          </label>

          <button type="submit">Submit</button>
          <%}else{%>
          <h2><%=temperature%>°C</h2>
          <%}%>
        </form>
      </div>
      <div class="box1"></div>
      <div class="box2"></div>
      <div class="box3"></div>
    </div>
  </body>
</html>
